input.dropify(
    type="file"
    base-sixty-four-input
    maxsize="5120"
    data-max-file-size="1000K"
    accept="image/*"
    style="padding:0px;"
    data-show-errors="true"
    (change)="changeListener($event)")